{
    "env": {
        "mocha": true
    },
    "plugins": ["eslint-plugin-mocha"],
    "rules": {
        "no-unused-expressions": 0,
        "mocha/no-exclusive-tests": 2,
        "max-nested-callbacks": [2, 6]
    }
}
